<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cointeam.coin.mapper.CardWebMapper">

    <select id="selectCardBranchVerifyWeb" resultType="com.cointeam.coin.pojo.po.CardBranchVerifyWebPo">
        select ab.id, ab.device_id, ab.card_id, ab.content, ab.type, ab.status, ab.time, ab.submit_times
        from coin.audit_branch ab
        <where>
            <if test="cardBranchVerifyWebParam.status != null">
                and status = #{cardBranchVerifyWebParam.status}
            </if>
        </where>

    </select>

    <select id="selectNickNameByDeviceId" resultType="java.lang.String">
        select d.nick_name
        from coin.device d
        where d.id = #{deviceId}
    </select>

    <select id="selectTitleByCardId" resultType="java.lang.String">
        select c.title
        from coin.card c
        where c.id = #{cardId}
    </select>

    <update id="updateWebStatus">
        update coin.audit_branch ab
        set ab.status = #{cardBranchVerifyWebParam.status}
        where ab.id = #{cardBranchVerifyWebParam.id}
    </update>

    <update id="updateCardWebStatus">
            update coin.audit_card
            set status = #{cardBranchVerifyWebParam.status}
            where id = #{cardBranchVerifyWebParam.id}
    </update>

    <select id="selectBranchById" resultType="com.cointeam.coin.pojo.domain.AuditBranch">
        select ab.id, device_id, card_id, content, type, status, time, submit_times
        from coin.audit_branch ab
        where ab.id = #{cardBranchVerifyWebParam.id}
    </select>

    <select id="selectAuditCardId" resultType="com.cointeam.coin.pojo.domain.AuditCard">
        select ac.id, ac.device_id, ac.title, ac.content, ac.type, ac.status, ac.time, ac.submit_times
        from coin.audit_card ac
        where ac.id = #{cardBranchVerifyWebParam.id}
    </select>

    <select id="selectCardWeb" resultType="com.cointeam.coin.pojo.po.CardWebPo">
        select ac.id, ac.device_id, ac.time, ac.title, ac.content, ac.status
        from coin.audit_card ac
        <where>
        <if test="cardBranchVerifyWebParam.status != null">
            and status = #{cardBranchVerifyWebParam.status}
        </if>
        </where>
    </select>

    <insert id="insertCardBranch" useGeneratedKeys="true" keyColumn="id">
        insert into coin.branch(device_id, card_id, content, time)
        VALUES (#{auditBranches.deviceId},#{auditBranches.cardId},#{auditBranches.content},#{auditBranches.time})
    </insert>

    <insert id="insertCard" useGeneratedKeys="true" keyColumn="id">
        insert into coin.card(device_id, title, content, time, type)
        VALUES (#{card.deviceId},#{card.title},#{card.content},#{card.time},#{card.type})
    </insert>

</mapper>