<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cointeam.coin.mapper.MyShareMapper">
  <resultMap id="BaseResultMap" type="com.cointeam.coin.pojo.domain.MyShare">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="audit_card_id" jdbcType="INTEGER" property="auditCardId" />
    <result column="audit_branch_id" jdbcType="INTEGER" property="auditBranchId" />
    <result column="time" jdbcType="BIGINT" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, type, audit_card_id, audit_branch_id, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from my_share
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from my_share
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cointeam.coin.pojo.domain.MyShare">
    insert into my_share (id, device_id, type, 
      audit_card_id, audit_branch_id, time
      )
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{auditCardId,jdbcType=INTEGER}, #{auditBranchId,jdbcType=INTEGER}, #{time,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cointeam.coin.pojo.domain.MyShare">
    insert into my_share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="auditCardId != null">
        audit_card_id,
      </if>
      <if test="auditBranchId != null">
        audit_branch_id,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="auditCardId != null">
        #{auditCardId,jdbcType=INTEGER},
      </if>
      <if test="auditBranchId != null">
        #{auditBranchId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cointeam.coin.pojo.domain.MyShare">
    update my_share
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="auditCardId != null">
        audit_card_id = #{auditCardId,jdbcType=INTEGER},
      </if>
      <if test="auditBranchId != null">
        audit_branch_id = #{auditBranchId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cointeam.coin.pojo.domain.MyShare">
    update my_share
    set device_id = #{deviceId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      audit_card_id = #{auditCardId,jdbcType=INTEGER},
      audit_branch_id = #{auditBranchId,jdbcType=INTEGER},
      time = #{time,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>