<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cointeam.coin.mapper.TextMapper">
  <resultMap id="BaseResultMap" type="com.cointeam.coin.pojo.domain.Text">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="public_time" jdbcType="BIGINT" property="publicTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, author, content, pic_url, time, type, public_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from text
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from text
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cointeam.coin.pojo.domain.Text">
    <selectKey  keyProperty="id" order="AFTER" resultType="int">
      select LAST_INSERT_ID()
    </selectKey>
    insert into text (id, title, author,
      content, pic_url, time, 
      type, public_time)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{time,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER}, #{publicTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cointeam.coin.pojo.domain.Text">
    insert into text
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="publicTime != null">
        public_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="publicTime != null">
        #{publicTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cointeam.coin.pojo.domain.Text">
    update text
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="publicTime != null">
        public_time = #{publicTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cointeam.coin.pojo.domain.Text">
    update text
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      time = #{time,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      public_time = #{publicTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from text
    where type = #{type,jdbcType=INTEGER}
  </select>
</mapper>