<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cointeam.coin.mapper.UserMapper">

    <!--  李春强-->
  <select id="findAdmin" resultType="com.cointeam.coin.pojo.domain.Device">
    select *
    from device
    where user_id = #{loginParam.userName}
    and password = #{loginParam.password}
  </select>

  <select id="findAdminByUserName" resultType="com.cointeam.coin.pojo.domain.Device">
    select *
    from coin.device
    where user_id = #{userName}
  </select>

  <select id="selectUserByName" resultType="com.cointeam.coin.pojo.domain.Device">
    select *
    from coin.device
    where user_id = #{userName}
    and password = #{password}
  </select>

  <insert id="insertUser" useGeneratedKeys="true" keyColumn="id">
    ALTER TABLE device
    AUTO_INCREMENT = 1;
    insert into coin.device(nick_name, user_id, password, token, time)
    VALUES (#{nickName}, #{userId}, #{password}, '0', #{time})
  </insert>

  <update id="updateToken">
    update
        coin.device
    set
        token = #{token}
    where
        user_id = #{userId}
  </update>


</mapper>